In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
#import xgboost as xgb
from sklearn.linear_model import LinearRegression

In [10]:
df = pd.read_csv('Book2-Sheet2.csv')

df.head()

,GENDER,MALE,FEMALE,MARTIAL STATUS OF HOUSEHOLD,SINGLE,MARRIED,NO OF HOUSEHOLD,Unnamed: 7,1-4,5-8,...,3HRS:45MINS OR ABOVE,EMPLOYMENT STATUS,SELF EMPLOYED,MANAGERIAL,SUPERVISOR,SEMI-SKILLED,UNSKILLED,MODE OF TRANSPORTATION,COMMERCIAL,PRIVATE
0,Orita obele,120,80,Orita obele,460,440,Orita obele,NaN,330,570,...,NaN,Orita obele,120,NaN,10.0,30,40.0,Orita obele,170,30
1,Akure High school,50,150,Akure High school,650,460,Akure High school,NaN,920,190,...,NaN,Akure High school,170,NaN,20.0,10,NaN,Akure High school,160,40
2,Fanibi Lafe,91,109,Fanibi Lafe,486,398,Fanibi Lafe,NaN,556,289,...,NaN,Fanibi Lafe,181,NaN,NaN,15,4.0,Fanibi Lafe,158,42
3,Isikan/Ondo road,110,90,Isikan/Ondo road,560,570,Isikan/Ondo road,NaN,180,860,...,NaN,Isikan/Ondo road,150,20.0,17.0,13,NaN,Isikan/Ondo road,130,70
4,Ijomu/Ilisa,68,132,Ijomu/Ilisa,668,512,Ijomu/Ilisa,NaN,315,603,...,NaN,Ijomu/Ilisa,181,NaN,2.0,5,12.0,Ijomu/Ilisa,150,50

In [5]:
df.columns

Index(['GENDER', 'MALE ', 'FEMALE', 'MARTIAL STATUS OF HOUSEHOLD', 'SINGLE',
       'MARRIED', 'NO OF HOUSEHOLD', 'Unnamed: 7', '1-4', '5-8',
       ...
       '3HRS:45MINS OR ABOVE', 'EMPLOYMENT STATUS', 'SELF EMPLOYED',
       'MANAGERIAL', 'SUPERVISOR', 'SEMI-SKILLED', 'UNSKILLED',
       'MODE OF TRANSPORTATION', 'COMMERCIAL', 'PRIVATE'],
      dtype='object', length=127)